/*-------------------------------------------------------------------------------------- */

/* Holiday notice 
#holiday_hours {
  position: fixed;
  margin-top: 70px; 
  width: 100%;
  z-index: 998;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .navbar {
    z-index: 1000;
  }

  #holiday_hours {
    font-size: 16px;
    width: 90%;
    padding: 10px;
  }
}
*/
/*-------------------------------------------------------------------------------------- */
/* Navigation bar */
.navbar {
  margin-top: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#navbarCollapse ul li a {
  color: #35495E;
  font-size: 20px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbarCollapse ul li a:hover {
  color: rgb(218, 15, 15);
  border-bottom: #f85800 2px solid;
  border-radius: 10px;
}
.navbar-nav li{
  padding-right: 30px;
}

/*-------------------------------------------------------------------------------------- */
  /*---------------------- About Section Starts ----------------*/
.bg-light p{
  color: black;
  font-weight: 60px;
}
/*---------------------- About Section End ----------------*/

/*---------------------- Service Section Starts ----------------*/
#services h1{
  margin-top: 60px;
  color: black;
  font-size: 45px;
}

.card {
  margin-top: 80px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.d-block {
    display: block !important;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}


.text-sm {
    font-size: 14px !important;
}
p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(54, 129, 241);
}
.card-body i{
  color:rgb(22, 110, 226);
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon{
    margin-top:18px;
    color:#FF4500
}
.card-body p{
  color: black;
  font-size: 20px;

}
/*---------------------- Service Section Ends ----------------*/


/*--------------------- Appointment Section------------------*/
.well {
  width: 90%;
  margin-left: 6%;
  padding: 50px 0;
  background-color :whitesmoke;
  box-shadow: 0 5px 20px grey;
}

.well-header {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: helvetica Neue;
  color: #0c0c0d;
}
.header_p {
  font-size: 1.1em;
  text-align: center;
  padding: 1.5rem;
}

.option-select{
  padding-left: 10rem;
  width: 35%;
}
.form1{
  color: #fff;
  background-color: #00a2e3;
}
.form2 {
  margin-top: 30px;
  padding-left: 10rem;
  width: 70%;
}
.form3 {
  margin-top: 30px;
  padding-left: 10rem;
  width: 70%;
}
.form4 {
  margin-top: 30px;
  padding-left: 10rem;
  width: 70%;
}
.appointdate p{
  padding-left: 0rem;
  width: 100%;
}
.appointmentdate1{
  margin-top: 30px;
  padding-left: 0rem;
  width: 80%;
}

.appointmentdate2{
  margin-top: 30px;
  padding-left: 0rem;
  width: 80%;
}

.messagebox{
  width: 90%;
  padding-left: 10rem;
}

p, label, checkbox {
  font-size: 1em;
  font-weight: bold;
  color: #1E2749;
  
}

.btn{
  color: rgba(198, 156, 0, 1);
  background: #1E2749;
  border: solid 1px #1E2749;
  ;
}
.bottompart{
  margin-top: 20px;
  padding-left: 10rem;
}

/*--------------------- Appointment Section End ------------------*/

/*----------------- Footer Section ---------------------*/
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid white;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}
/*----------------- Footer Section End ---------------------*/


/*------------------- Store Hours Start------------------*/
.demo-bg{
  background: #ffac0c;
  margin-top: 60px;
  }
.holiday-notice{
  margin: 20px;
  color: black;
  }
  .business-hours {
  background: #222; 
  padding: 40px 14px;
  margin-top: -100px;
  position: relative;
  }
  .business-hours:before{
  content: '';
  width: 23px;
  height: 23px;
  background: #111;
  position: absolute;
  top: 5px;
  left: -12px;
  transform: rotate(-45deg);
  z-index: -1;
  }
  .business-hours .title {
  font-size: 20px;
  color: #BBB;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid #ffac0c; 
  }
  .business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333; 
  }
  .business-hours li:last-child {
  border-bottom: none; 
  }
  .business-hours .opening-hours li.today {
  color: #ffac0c; 
  }
  /*------------------- Store Hours End ------------------*/

.surgical{
  margin-top: 100px;
}